
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Partial("PartialHead")

<body>
    @Html.Partial("PartialNavbar")
    @Html.Action("PartialFeature")
    @Html.Action("PartialWhoAmI")
    @Html.Action("PartialService")
    @Html.Action("PartialStatistic")
    @Html.Action("PartialTestimational")
    @Html.Action("PartialVideoSection")
    @Html.Partial("PartialHireMe")
    @Html.Partial("PartialFooter")

    <!-- /typig-text-->
    @Html.Action("PartialTypingText")
   @Html.Partial("PartialScript")

</body>

</html>