
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Portfolio")
<body>
    @Html.Action("PartialNavbar", "Portfolio")
    @Html.Action("PartialHeader")
    @Html.Action("PartialAbout")
    @Html.Action("PartialSection")
    @Html.Action("PartialAbilities")
    @Html.Partial("PartialFooter","Portfolio")
    @Html.Partial("PartialScript")
</body>

</html>